/* styles/ThemeSwitcher.module.css */

.btnTheme {
  transition: color 0.3s ease !important;
  font-weight: bold;
}

.btnTheme:hover {
  background-color: #00000000;
  color: #001c55 /* Esta es la variable correcta */
}
