.navbar {
  background-color: var(--navbarBackground);
  color: var(--navbarText);
}

.navbarLink {
  text-decoration: none;
  color: inherit;
  transition: color 0.3s;
}

.navbarLink:hover {
  color: var(--navbarTextHover); /* Esta es la variable correcta */
}
