/* styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ocultar el contenido antes de que la página esté cargada */
:root {
  /* Colores para el modo claro */
  --backgroundColorLight: #ffffff;
  --textColorLight: #000000;

  --navbarBackgroundLight: #ffffff;
  --navbarTextLight: #000000;
  --navbarBackgroundHoverLight: #000000;
  --navbarTextHoverLight: #ffffff;

  --btnPrimaryBackgroundColorLight: #000000 !important;
  --btnPrimaryTextColorLight: #ffffff !important;
  --btnPrimaryBackgroundColorHoverLight: #000000 !important; /* Ajusta según prefieras */
  --btnPrimaryTextColorHoverLight: #000000 !important;

  /* Colores para el modo oscuro */
  --backgroundColorDark: #000000;
  --textColorDark: #ffffff;

  --navbarBackgroundDark: #333333;
  --navbarTextDark: #ffffff;
  --navbarBackgroundHoverDark: #444444;
  --navbarTextHoverDark: #000000;

  --btnPrimaryBackgroundColorDark: #ffffff !important;
  --btnPrimaryTextColorDark: #000000 !important;
  --btnPrimaryBackgroundColorHoverDark: #000000 !important;
  --btnPrimaryTextColorHoverDark: #ffffff !important;
}

/* Aplicar variables a los temas */
[data-theme='light'] {
  --navbarBackground: var(--navbarBackgroundLight);
  --navbarText: var(--navbarTextLight);
  --navbarBackgroundHover: var(--navbarBackgroundHoverLight);
  --navbarTextHover: var(--navbarTextHoverLight);

  --btnPrimaryBackgroundColor: var(--btnPrimaryBackgroundColorLight);
  --btnPrimaryTextColor: var(--btnPrimaryTextColorLight);
  --btnPrimaryBackgroundColorHover: var(--btnPrimaryBackgroundColorHoverLight);
  --btnPrimaryTextColorHover: var(--btnPrimaryTextColorHoverLight);
}

[data-theme='dark'] {
  --navbarBackground: var(--navbarBackgroundDark);
  --navbarText: var(--navbarTextDark);
  --navbarBackgroundHover: var(--navbarBackgroundHoverDark);
  --navbarTextHover: var(--navbarTextHoverDark);

  --btnPrimaryBackgroundColor: var(--btnPrimaryBackgroundColorDark);
  --btnPrimaryTextColor: var(--btnPrimaryTextColorDark);
  --btnPrimaryBackgroundColorHover: var(--btnPrimaryBackgroundColorHoverDark);
  --btnPrimaryTextColorHover: var(--btnPrimaryTextColorHoverDark);
}
