/* styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definir variables para los colores */
.title-effect {
  text-decoration: underline;
  text-decoration-color: var(--color-main);
  text-decoration-thickness: 3px;
}

.title-effect:hover {
  color: var(--color-main);
  /* Add light shadow */

}
